/Inlamningsprojekt/nbproject/private/
/StringVars/nbproject/private/
/StringVars/build/
/Inlamningsuppgift/nbproject/private/
/Inlamningsuppgift/build/
/BubbleSort/nbproject/private/
/BubbleSort/build/
/FrageSport/nbproject/private/
/FrageSport/build/
/FrågeSport/nbproject/private/
/FrågeSport/build/
/Slutprojekt/nbproject/private/
/Slutprojekt/build/
/Multi-dim/nbproject/private/
/MatteHjalp/nbproject/private/
/Inlämningsuppgift3/nbproject/private/
/inlämningsuppgift2/nbproject/private/